__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache
.coverage
.venv
venv
env
.env
.env.*
*.log
.git
.gitignore
.idea
.vscode
*.swp
.DS_Store
Procfile
runtime.txt
README.md
tests
.dockerignore
Dockerfile
screens
